/*Elemenet Selectors*/
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
}

header {
    position: fixed;
    top: 0;
    z-index: 2;
    height: 80px;
    border-bottom: 1px solid black;
    width: 100%;
    background-color: #929292;
    color: #f8f8f8;
}

header h1 {
    margin: auto;
    padding: 20px 20px;
    display: inline-block;
}

header ul {
    margin: auto;
    padding: 25px 20px;
    display: inline-block;
}

header li {
    font-size: 1.5em;
    display: inline-block;
    margin: 0px 50px;
}

nav {
    float: right;
}

nav a {
    text-decoration: none;
    color: #f8f8f8;
}

/*@media Selectors*/
@media only screen and (max-width: 1200px){
    header {
        font-size: 15px;
    }
    
    header li {
        font-size: 1.5em;
        display: inline-block;
        margin: 0px 10px;
    }
}

@media only screen and (max-width: 900px){
    header {
        font-size: 12px;
    }
    
    header li {
        font-size: 1.5em;
        display: inline-block;
        margin: 5px 10px;
    }

    header h1, header ul {
        margin: auto;
        padding: 5px;
        display: inline-block;
    }    
}

/*Class Selectors*/
.flexbox-center {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.flexbox-left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
}

.colorbox {
    margin: 20px;
    min-height: 100px;
    width: 20%;
    border: 1px solid black;
    text-align: center;
}

.fontbox {
    padding-left: 7px;
    margin: 20px 20px 20px 20px;
    min-height: 100px;
    min-width: 20%;
    background-color: white;
    font-size: 17px;
    border-left: 2px solid black;
}

/*ID Selectors*/
#cool-blue {
    background-color: #2d5dcc;
    color: #fff;
}